<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{base}"
>
<head>
	<title>My resume</title>
	<meta name="description" content="Experiences, formations, all you need to know !">
	
	<!-- development version -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<!-- production version
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	
	<script th:replace="fragments/vue :: vueTemplate"></script>
	
</head>
<body>
	<div layout:fragment="content">
		<p>Let's try a nice diagram</p>
		
		<div id="skillDiag">
			<svg width="200" height="200">
				<polygraph :skills="skills"></polygraph>
			</svg>
		</div>
		<div>
			{{selectedSkill}}
		</div>
		
		<!-- Scripts -->
		<script th:inline="javascript">
			var skills = /*[[${skills}]]*/ "";
		</script>
		<script type="text/javascript" th:src="@{js/index.js}"></script>	
	</div>
</body>

